// Copyright 2004-2020 Sandboxie Holdings, LLC 
// Copyright 2023 David Xanatos, xanasoft.com
//
// This program is free software: you can redistribute it and/or modify
//   it under the terms of the GNU General Public License as published by
//   the Free Software Foundation, either version 3 of the License, or
//   (at your option) any later version.
//
//   This program is distributed in the hope that it will be useful,
//   but WITHOUT ANY WARRANTY; without even the implied warranty of
//   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//   GNU General Public License for more details.
//
//   You should have received a copy of the GNU General Public License
//   along with this program.  If not, see <https://www.gnu.org/licenses/>.
//

//---------------------------------------------------------------------------
// Low Level DLL embedded into SbieDll as binary resources
//---------------------------------------------------------------------------

//
// SboxDll.vcxproj compiles this file into SbieDll.  lowlevel_inject.c reads
// LOWLEVEL32 or LOWLEVEL64 from Dll_Instance with FindResource/LoadResource.
// The resource paths must therefore describe the LowLevel.dll artifacts that
// belong to the same platform build.
//

#ifdef BUILD_UTILITY_PASS2

#if MY_ARM64_FLAG
LOWLEVEL64  RCDATA     "../low/obj/ARM64/LowLevel.dll"
#elif  MY_WIN64_FLAG
LOWLEVEL64  RCDATA     "../low/obj/amd64/LowLevel.dll"
#endif // MY_WIN64_FLAG
LOWLEVEL32  RCDATA     "../low/obj/i386/LowLevel.dll"

#endif // BUILD_UTILITY_PASS2
